.nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
}
.pg1{
    border: 1px solid;
    background-image: url('/Assets/images/moving 1.png');
    margin-bottom: 1rem;
}
li{
    padding:2rem;
    list-style-type: none;
    color: white;
}
#login{
    background-color: yellow;
    box-shadow: 2px 2px 10px yellowgreen;
}
#signin{
    background-color: black;
    color: white;
    box-shadow: 2px 2px 7px red;
}
.change{
    color: yellow;
    font-weight: bold;
    font-size: xx-large;
    margin: 3rem;
}
.soln{
    color: silver;
    font-size: x-large;
    margin: 0rem 0rem 12rem 3rem;
}