.nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
}
.pg1{
    border: 1px solid;
    background-image: url('/Assets/images/moving 1.png');
    margin-bottom: 1rem;
}
li{
    padding:2rem;
    list-style-type: none;
    color: white;
}
#login{
    background-color: yellow;
    box-shadow: 2px 2px 10px yellowgreen;
}
#signin{
    background-color: black;
    color: white;
    box-shadow: 2px 2px 7px red;
}
.change{
    color: yellow;
    font-weight: bold;
    font-size: xx-large;
    margin: 3rem;
}
.soln{
    color: silver;
    font-size: x-large;
    margin: 0rem 0rem 12rem 3rem;
}
.pg2{
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
}
.nxt{
    padding-left: 3rem;
}
.cut{
    font-size: xx-large;
    font-weight: bold;
    padding: 5rem 0rem 0rem 0rem;
}
#learn{
    background-color: black;
    height: 2rem;
    width: 7rem;
    color: yellow;
    border: none;
}
.topmovers{
    background-color: rgb(236, 236, 236);
    margin-bottom: 0rem;
}
.top{
    font-weight: bold;
    font-size: xx-large;
    padding: 8rem 0rem 7rem 7rem;
}
.imgrow1{
    display: flex;
    justify-content:space-between;
}
.movers{
    padding-left: 7rem;
}
.ufalme{
    padding-right: 13rem;
}
.imgrow2{
    display: flex;
    justify-content:space-between;
    padding-bottom: 3rem;
}
.foot1{
    background-color: rgb(19, 18, 18);
    margin-top: 0rem;
    border: 1px solid rgb(3, 3, 3);
}
table{
    color: white;   
    margin-left: 28rem;
    margin-bottom: 5rem;
}
td{
    padding: 1rem 3rem 0rem 2rem;
}
/*.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }*/
  .foothead{
      margin: 3rem 7rem 3rem 7rem;
      font-size: xx-large;
      font-weight: bold;
  }
  /*page 2 style*/
  #unique{
      margin-bottom: 1rem;
  }
  .modern{
      display: flex;
      justify-content: space-around;
  }
  .nav2{
      background-color: black;
      color: white;
  }
  #kayley{
      color: black;
      padding: 1rem;
      margin: 0rem;
      border: 1px;
      border-radius: 10px;
      font-size: small;
      margin: 0px 15px 15px 15px;
      box-shadow: 1px 1px 2px silver;
  }
  .one{
      display: flex;
      justify-content: flex-start;
      margin: 2rem;
  }
  .one2{
      border: 1px;
      margin-left: 2rem;
      padding-left: 0rem;
      background-color: white;
      box-shadow: 2px 2px 5px silver;
      border-radius: 10px;
  }